In [21]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [22]:
data = ['Rana', 'Fahad', 'Nouf']
series = pd.Series(data, index=[1, 2, 3])
print(series)

1     Rana
2    Fahad
3     Nouf
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [23]:
series.index = [11, 12, 13]
print(series)

11     Rana
12    Fahad
13     Nouf
dtype: object

## Q3: Retrieve First and second elements.

In [24]:
first_element = series[11]
second_element = series[12]
print(first_element)
print(second_element)

Rana
Fahad

## Q4: Add duplicate elements, then remove the duplication.

In [25]:
series = series.append(pd.Series(['Rana', 'Fahad']))
print(series)

11     Rana
12    Fahad
13     Nouf
0      Rana
1     Fahad
dtype: object

<ipython-input-25-1aaf365dbdb6>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series = series.append(pd.Series(['Rana', 'Fahad']))

In [26]:
series = series.drop_duplicates()
print(series)

11     Rana
12    Fahad
13     Nouf
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [27]:
data = {'ID': [1, 2, 3], 'Name': ['Rana', 'Fahad', 'Nouf'], 'GPA': [4.8, 4.5, 3.5]}
df = pd.DataFrame(data)
print(df)

   ID   Name  GPA
0   1   Rana  4.8
1   2  Fahad  4.5
2   3   Nouf  3.5

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [28]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive

In [29]:
df = pd.read_csv('educ_figdp_1_Data.csv')
df.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [30]:
data = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data)

# Using loc
print(series.loc[1:3])  # loc includes both the start and end index

# Using slicing
print(series[1:3])  # slicing excludes the end index

1    B
2    C
3    D
dtype: object
1    B
2    C
dtype: object